# -*- mode: gitignore; -*-
.projectile
.cproject
consolelog
Debug/**
build/**
.settings/**
/vendor/cpputest/
/vendor/clang-checker/
.metadata/**
doc/
shakebuild/**

Dave/Model/**
Dave/Generated/**

GPATH
GTAGS
GRTAGS

test/GPATH
test/GRTAGS
test/GTAGS

# Emacs autosaves
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

draw_data.txt

